:root {
    /**
      * Field
     **/
     --c--components--forms-field--color: var(--c--theme--colors--primary-500);
     /**
      * Datagrid
     **/
     --c--theme--font--weights-datagrid-header: var(--c--theme--font--weights--extrabold);
     --c--theme--font--size-datagrid-header: var(--c--theme--font--sizes--ml);
     --c--theme--font--size-datagrid-cell: var(--c--theme--font--sizes--ml);
     /**
      * Input
     */
     --c--components--forms-input--border-color: var(--c--theme--colors--primary-500);
     --c--components--forms-input--border-radius--hover: var(
       --c--components--forms-input--border-radius
     );
     --c--components--forms-input--border-radius--focus: var(
       --c--components--forms-input--border-radius
     );
     --c--components--forms-input--border-color--hover: var(--c--components--forms-input--border-color);
     --c--components--forms-input--color: var(--c--theme--colors--primary-500);
     /**
      * Datepicker
     **/
     --c--components--forms-datepicker--color: var(
       --c--theme--colors--primary-400
     );
     --c--components--forms-datepicker--value-color: var(--c--components--forms-datepicker--color);
     --c--components--forms-datepicker--border-color: var(
       --c--theme--colors--primary-500
     );
     --c--components--forms-datepicker--border-radius--hover: var(
       --c--components--forms-datepicker--border-radius
     );
     --c--components--forms-datepicker--border-radius--focus: var(
       --c--components--forms-datepicker--border-radius
     );
     --c--components--forms-datepicker--border-color--hover: var(
       --c--components--forms-datepicker--border-color
     );
     /**
      * Select
     **/
     --c--components--forms-select--border-color: var(--c--theme--colors--primary-500);
     --c--components--forms-select--border-radius--hover: var(
       --c--components--forms-select--border-radius
     );
     --c--components--forms-select--border-radius--focus: var(
       --c--components--forms-select--border-radius
     );
     --c--components--forms-select--color: var(--c--theme--colors--primary-500);
     --c--components--forms-select--value-color: var(--c--components--forms-select--color);
     --c--components--forms-select--item-color: var(--c--theme--colors--primary-500);
     --c--components--forms-select--item-color: var(--c--theme--colors--primary-500);
     --c--components--forms-select--item-background-color--hover: var(
       --c--theme--colors--primary-100
     );
     --c--components--forms-select--font-size: var(--c--theme--font--sizes--ml);
     --c--components--forms-select--value-color--disabled: var(--c--theme--colors--greyscale-400);
     --c--components--forms-labelledbox--label-color--big: var(--c--theme--colors--primary-500);
   }
   