:root {
	--c--theme--colors--primary-text: #FFFFFF;
	--c--theme--colors--primary-100: #EBF2FC;
	--c--theme--colors--primary-200: #8CB5EA;
	--c--theme--colors--primary-300: #5894E1;
	--c--theme--colors--primary-400: #377FDB;
	--c--theme--colors--primary-500: #055FD2;
	--c--theme--colors--primary-600: #0556BF;
	--c--theme--colors--primary-700: #044395;
	--c--theme--colors--primary-800: #033474;
	--c--theme--colors--primary-900: #022858;
	--c--theme--colors--secondary-text: #555F6B;
	--c--theme--colors--secondary-100: #F2F7FC;
	--c--theme--colors--secondary-200: #EBF3FA;
	--c--theme--colors--secondary-300: #E2EEF8;
	--c--theme--colors--secondary-400: #DDEAF7;
	--c--theme--colors--secondary-500: #D4E5F5;
	--c--theme--colors--secondary-600: #C1D0DF;
	--c--theme--colors--secondary-700: #97A3AE;
	--c--theme--colors--secondary-800: #757E87;
	--c--theme--colors--secondary-900: #596067;
	--c--theme--colors--greyscale-000: #FFFFFF;
	--c--theme--colors--greyscale-100: #FAFAFB;
	--c--theme--colors--greyscale-200: #F3F4F4;
	--c--theme--colors--greyscale-300: #E7E8EA;
	--c--theme--colors--greyscale-400: #C2C6CA;
	--c--theme--colors--greyscale-500: #9EA3AA;
	--c--theme--colors--greyscale-600: #79818A;
	--c--theme--colors--greyscale-700: #555F6B;
	--c--theme--colors--greyscale-800: #303C4B;
	--c--theme--colors--greyscale-900: #0C1A2B;
	--c--theme--colors--success-text: #FFFFFF;
	--c--theme--colors--success-100: #EFFCD3;
	--c--theme--colors--success-200: #DBFAA9;
	--c--theme--colors--success-300: #BEF27C;
	--c--theme--colors--success-400: #A0E659;
	--c--theme--colors--success-500: #76D628;
	--c--theme--colors--success-600: #5AB81D;
	--c--theme--colors--success-700: #419A14;
	--c--theme--colors--success-800: #2C7C0C;
	--c--theme--colors--success-900: #1D6607;
	--c--theme--colors--info-text: #FFFFFF;
	--c--theme--colors--info-100: #EBF2FC;
	--c--theme--colors--info-200: #8CB5EA;
	--c--theme--colors--info-300: #5894E1;
	--c--theme--colors--info-400: #377FDB;
	--c--theme--colors--info-500: #055FD2;
	--c--theme--colors--info-600: #0556BF;
	--c--theme--colors--info-700: #044395;
	--c--theme--colors--info-800: #033474;
	--c--theme--colors--info-900: #022858;
	--c--theme--colors--warning-text: #FFFFFF;
	--c--theme--colors--warning-100: #FFF8CD;
	--c--theme--colors--warning-200: #FFEF9B;
	--c--theme--colors--warning-300: #FFE469;
	--c--theme--colors--warning-400: #FFDA43;
	--c--theme--colors--warning-500: #FFC805;
	--c--theme--colors--warning-600: #DBA603;
	--c--theme--colors--warning-700: #B78702;
	--c--theme--colors--warning-800: #936901;
	--c--theme--colors--warning-900: #7A5400;
	--c--theme--colors--danger-text: #FFFFFF;
	--c--theme--colors--danger-100: #F4B0B0;
	--c--theme--colors--danger-200: #EE8A8A;
	--c--theme--colors--danger-300: #E65454;
	--c--theme--colors--danger-400: #E13333;
	--c--theme--colors--danger-500: #DA0000;
	--c--theme--colors--danger-600: #C60000;
	--c--theme--colors--danger-700: #9B0000;
	--c--theme--colors--danger-800: #780000;
	--c--theme--colors--danger-900: #5C0000;
	--c--theme--font--sizes--h1: 2.2rem;
	--c--theme--font--sizes--h2: 1.7rem;
	--c--theme--font--sizes--h3: 1.37rem;
	--c--theme--font--sizes--h4: 1.15rem;
	--c--theme--font--sizes--h5: 1rem;
	--c--theme--font--sizes--h6: 0.87rem;
	--c--theme--font--sizes--l: 1rem;
	--c--theme--font--sizes--m: 0.8125rem;
	--c--theme--font--sizes--s: 0.75rem;
	--c--theme--font--sizes--ml: 0.938rem;
	--c--theme--font--sizes--xl: 1.50rem;
	--c--theme--font--sizes--t: 0.6875rem;
	--c--theme--font--weights--thin: 100;
	--c--theme--font--weights--light: 300;
	--c--theme--font--weights--regular: 400;
	--c--theme--font--weights--medium: 500;
	--c--theme--font--weights--bold: 600;
	--c--theme--font--weights--extrabold: 800;
	--c--theme--font--weights--black: 900;
	--c--theme--font--families--base: "Roboto Flex Variable", sans-serif;
	--c--theme--font--families--accent: "Roboto Flex Variable", sans-serif;
	--c--theme--font--letterspacings--h1: normal;
	--c--theme--font--letterspacings--h2: normal;
	--c--theme--font--letterspacings--h3: normal;
	--c--theme--font--letterspacings--h4: normal;
	--c--theme--font--letterspacings--h5: 1px;
	--c--theme--font--letterspacings--h6: normal;
	--c--theme--font--letterspacings--l: normal;
	--c--theme--font--letterspacings--m: normal;
	--c--theme--font--letterspacings--s: normal;
	--c--theme--spacings--0: 0;
	--c--theme--spacings--xl: 4rem;
	--c--theme--spacings--l: 3rem;
	--c--theme--spacings--b: 1.625rem;
	--c--theme--spacings--s: 1rem;
	--c--theme--spacings--t: 0.5rem;
	--c--theme--spacings--st: 0.25rem;
	--c--theme--spacings--auto: auto;
	--c--theme--spacings--bx: 2.2rem;
	--c--theme--transitions--ease-in: cubic-bezier(0.32, 0, 0.67, 0);
	--c--theme--transitions--ease-out: cubic-bezier(0.33, 1, 0.68, 1);
	--c--theme--transitions--ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
	--c--theme--transitions--duration: 250ms;
} .clr-primary-text { color: var(--c--theme--colors--primary-text); }
.clr-primary-100 { color: var(--c--theme--colors--primary-100); }
.clr-primary-200 { color: var(--c--theme--colors--primary-200); }
.clr-primary-300 { color: var(--c--theme--colors--primary-300); }
.clr-primary-400 { color: var(--c--theme--colors--primary-400); }
.clr-primary-500 { color: var(--c--theme--colors--primary-500); }
.clr-primary-600 { color: var(--c--theme--colors--primary-600); }
.clr-primary-700 { color: var(--c--theme--colors--primary-700); }
.clr-primary-800 { color: var(--c--theme--colors--primary-800); }
.clr-primary-900 { color: var(--c--theme--colors--primary-900); }
.clr-secondary-text { color: var(--c--theme--colors--secondary-text); }
.clr-secondary-100 { color: var(--c--theme--colors--secondary-100); }
.clr-secondary-200 { color: var(--c--theme--colors--secondary-200); }
.clr-secondary-300 { color: var(--c--theme--colors--secondary-300); }
.clr-secondary-400 { color: var(--c--theme--colors--secondary-400); }
.clr-secondary-500 { color: var(--c--theme--colors--secondary-500); }
.clr-secondary-600 { color: var(--c--theme--colors--secondary-600); }
.clr-secondary-700 { color: var(--c--theme--colors--secondary-700); }
.clr-secondary-800 { color: var(--c--theme--colors--secondary-800); }
.clr-secondary-900 { color: var(--c--theme--colors--secondary-900); }
.clr-greyscale-000 { color: var(--c--theme--colors--greyscale-000); }
.clr-greyscale-100 { color: var(--c--theme--colors--greyscale-100); }
.clr-greyscale-200 { color: var(--c--theme--colors--greyscale-200); }
.clr-greyscale-300 { color: var(--c--theme--colors--greyscale-300); }
.clr-greyscale-400 { color: var(--c--theme--colors--greyscale-400); }
.clr-greyscale-500 { color: var(--c--theme--colors--greyscale-500); }
.clr-greyscale-600 { color: var(--c--theme--colors--greyscale-600); }
.clr-greyscale-700 { color: var(--c--theme--colors--greyscale-700); }
.clr-greyscale-800 { color: var(--c--theme--colors--greyscale-800); }
.clr-greyscale-900 { color: var(--c--theme--colors--greyscale-900); }
.clr-success-text { color: var(--c--theme--colors--success-text); }
.clr-success-100 { color: var(--c--theme--colors--success-100); }
.clr-success-200 { color: var(--c--theme--colors--success-200); }
.clr-success-300 { color: var(--c--theme--colors--success-300); }
.clr-success-400 { color: var(--c--theme--colors--success-400); }
.clr-success-500 { color: var(--c--theme--colors--success-500); }
.clr-success-600 { color: var(--c--theme--colors--success-600); }
.clr-success-700 { color: var(--c--theme--colors--success-700); }
.clr-success-800 { color: var(--c--theme--colors--success-800); }
.clr-success-900 { color: var(--c--theme--colors--success-900); }
.clr-info-text { color: var(--c--theme--colors--info-text); }
.clr-info-100 { color: var(--c--theme--colors--info-100); }
.clr-info-200 { color: var(--c--theme--colors--info-200); }
.clr-info-300 { color: var(--c--theme--colors--info-300); }
.clr-info-400 { color: var(--c--theme--colors--info-400); }
.clr-info-500 { color: var(--c--theme--colors--info-500); }
.clr-info-600 { color: var(--c--theme--colors--info-600); }
.clr-info-700 { color: var(--c--theme--colors--info-700); }
.clr-info-800 { color: var(--c--theme--colors--info-800); }
.clr-info-900 { color: var(--c--theme--colors--info-900); }
.clr-warning-text { color: var(--c--theme--colors--warning-text); }
.clr-warning-100 { color: var(--c--theme--colors--warning-100); }
.clr-warning-200 { color: var(--c--theme--colors--warning-200); }
.clr-warning-300 { color: var(--c--theme--colors--warning-300); }
.clr-warning-400 { color: var(--c--theme--colors--warning-400); }
.clr-warning-500 { color: var(--c--theme--colors--warning-500); }
.clr-warning-600 { color: var(--c--theme--colors--warning-600); }
.clr-warning-700 { color: var(--c--theme--colors--warning-700); }
.clr-warning-800 { color: var(--c--theme--colors--warning-800); }
.clr-warning-900 { color: var(--c--theme--colors--warning-900); }
.clr-danger-text { color: var(--c--theme--colors--danger-text); }
.clr-danger-100 { color: var(--c--theme--colors--danger-100); }
.clr-danger-200 { color: var(--c--theme--colors--danger-200); }
.clr-danger-300 { color: var(--c--theme--colors--danger-300); }
.clr-danger-400 { color: var(--c--theme--colors--danger-400); }
.clr-danger-500 { color: var(--c--theme--colors--danger-500); }
.clr-danger-600 { color: var(--c--theme--colors--danger-600); }
.clr-danger-700 { color: var(--c--theme--colors--danger-700); }
.clr-danger-800 { color: var(--c--theme--colors--danger-800); }
.clr-danger-900 { color: var(--c--theme--colors--danger-900); }
.bg-primary-text { background-color: var(--c--theme--colors--primary-text); }
.bg-primary-100 { background-color: var(--c--theme--colors--primary-100); }
.bg-primary-200 { background-color: var(--c--theme--colors--primary-200); }
.bg-primary-300 { background-color: var(--c--theme--colors--primary-300); }
.bg-primary-400 { background-color: var(--c--theme--colors--primary-400); }
.bg-primary-500 { background-color: var(--c--theme--colors--primary-500); }
.bg-primary-600 { background-color: var(--c--theme--colors--primary-600); }
.bg-primary-700 { background-color: var(--c--theme--colors--primary-700); }
.bg-primary-800 { background-color: var(--c--theme--colors--primary-800); }
.bg-primary-900 { background-color: var(--c--theme--colors--primary-900); }
.bg-secondary-text { background-color: var(--c--theme--colors--secondary-text); }
.bg-secondary-100 { background-color: var(--c--theme--colors--secondary-100); }
.bg-secondary-200 { background-color: var(--c--theme--colors--secondary-200); }
.bg-secondary-300 { background-color: var(--c--theme--colors--secondary-300); }
.bg-secondary-400 { background-color: var(--c--theme--colors--secondary-400); }
.bg-secondary-500 { background-color: var(--c--theme--colors--secondary-500); }
.bg-secondary-600 { background-color: var(--c--theme--colors--secondary-600); }
.bg-secondary-700 { background-color: var(--c--theme--colors--secondary-700); }
.bg-secondary-800 { background-color: var(--c--theme--colors--secondary-800); }
.bg-secondary-900 { background-color: var(--c--theme--colors--secondary-900); }
.bg-greyscale-000 { background-color: var(--c--theme--colors--greyscale-000); }
.bg-greyscale-100 { background-color: var(--c--theme--colors--greyscale-100); }
.bg-greyscale-200 { background-color: var(--c--theme--colors--greyscale-200); }
.bg-greyscale-300 { background-color: var(--c--theme--colors--greyscale-300); }
.bg-greyscale-400 { background-color: var(--c--theme--colors--greyscale-400); }
.bg-greyscale-500 { background-color: var(--c--theme--colors--greyscale-500); }
.bg-greyscale-600 { background-color: var(--c--theme--colors--greyscale-600); }
.bg-greyscale-700 { background-color: var(--c--theme--colors--greyscale-700); }
.bg-greyscale-800 { background-color: var(--c--theme--colors--greyscale-800); }
.bg-greyscale-900 { background-color: var(--c--theme--colors--greyscale-900); }
.bg-success-text { background-color: var(--c--theme--colors--success-text); }
.bg-success-100 { background-color: var(--c--theme--colors--success-100); }
.bg-success-200 { background-color: var(--c--theme--colors--success-200); }
.bg-success-300 { background-color: var(--c--theme--colors--success-300); }
.bg-success-400 { background-color: var(--c--theme--colors--success-400); }
.bg-success-500 { background-color: var(--c--theme--colors--success-500); }
.bg-success-600 { background-color: var(--c--theme--colors--success-600); }
.bg-success-700 { background-color: var(--c--theme--colors--success-700); }
.bg-success-800 { background-color: var(--c--theme--colors--success-800); }
.bg-success-900 { background-color: var(--c--theme--colors--success-900); }
.bg-info-text { background-color: var(--c--theme--colors--info-text); }
.bg-info-100 { background-color: var(--c--theme--colors--info-100); }
.bg-info-200 { background-color: var(--c--theme--colors--info-200); }
.bg-info-300 { background-color: var(--c--theme--colors--info-300); }
.bg-info-400 { background-color: var(--c--theme--colors--info-400); }
.bg-info-500 { background-color: var(--c--theme--colors--info-500); }
.bg-info-600 { background-color: var(--c--theme--colors--info-600); }
.bg-info-700 { background-color: var(--c--theme--colors--info-700); }
.bg-info-800 { background-color: var(--c--theme--colors--info-800); }
.bg-info-900 { background-color: var(--c--theme--colors--info-900); }
.bg-warning-text { background-color: var(--c--theme--colors--warning-text); }
.bg-warning-100 { background-color: var(--c--theme--colors--warning-100); }
.bg-warning-200 { background-color: var(--c--theme--colors--warning-200); }
.bg-warning-300 { background-color: var(--c--theme--colors--warning-300); }
.bg-warning-400 { background-color: var(--c--theme--colors--warning-400); }
.bg-warning-500 { background-color: var(--c--theme--colors--warning-500); }
.bg-warning-600 { background-color: var(--c--theme--colors--warning-600); }
.bg-warning-700 { background-color: var(--c--theme--colors--warning-700); }
.bg-warning-800 { background-color: var(--c--theme--colors--warning-800); }
.bg-warning-900 { background-color: var(--c--theme--colors--warning-900); }
.bg-danger-text { background-color: var(--c--theme--colors--danger-text); }
.bg-danger-100 { background-color: var(--c--theme--colors--danger-100); }
.bg-danger-200 { background-color: var(--c--theme--colors--danger-200); }
.bg-danger-300 { background-color: var(--c--theme--colors--danger-300); }
.bg-danger-400 { background-color: var(--c--theme--colors--danger-400); }
.bg-danger-500 { background-color: var(--c--theme--colors--danger-500); }
.bg-danger-600 { background-color: var(--c--theme--colors--danger-600); }
.bg-danger-700 { background-color: var(--c--theme--colors--danger-700); }
.bg-danger-800 { background-color: var(--c--theme--colors--danger-800); }
.bg-danger-900 { background-color: var(--c--theme--colors--danger-900); }
.fw-thin { font-weight: var(--c--theme--font--weights--thin); }
.fw-light { font-weight: var(--c--theme--font--weights--light); }
.fw-regular { font-weight: var(--c--theme--font--weights--regular); }
.fw-medium { font-weight: var(--c--theme--font--weights--medium); }
.fw-bold { font-weight: var(--c--theme--font--weights--bold); }
.fw-extrabold { font-weight: var(--c--theme--font--weights--extrabold); }
.fw-black { font-weight: var(--c--theme--font--weights--black); }
.fs-h1 { 
        font-size: var(--c--theme--font--sizes--h1); 
        letter-spacing: var(--c--theme--font--letterspacings--h1); 
      }
.fs-h2 { 
        font-size: var(--c--theme--font--sizes--h2); 
        letter-spacing: var(--c--theme--font--letterspacings--h2); 
      }
.fs-h3 { 
        font-size: var(--c--theme--font--sizes--h3); 
        letter-spacing: var(--c--theme--font--letterspacings--h3); 
      }
.fs-h4 { 
        font-size: var(--c--theme--font--sizes--h4); 
        letter-spacing: var(--c--theme--font--letterspacings--h4); 
      }
.fs-h5 { 
        font-size: var(--c--theme--font--sizes--h5); 
        letter-spacing: var(--c--theme--font--letterspacings--h5); 
      }
.fs-h6 { 
        font-size: var(--c--theme--font--sizes--h6); 
        letter-spacing: var(--c--theme--font--letterspacings--h6); 
      }
.fs-l { 
        font-size: var(--c--theme--font--sizes--l); 
        letter-spacing: var(--c--theme--font--letterspacings--l); 
      }
.fs-m { 
        font-size: var(--c--theme--font--sizes--m); 
        letter-spacing: var(--c--theme--font--letterspacings--m); 
      }
.fs-s { 
        font-size: var(--c--theme--font--sizes--s); 
        letter-spacing: var(--c--theme--font--letterspacings--s); 
      }
.fs-ml { 
        font-size: var(--c--theme--font--sizes--ml); 
        letter-spacing: var(--c--theme--font--letterspacings--ml); 
      }
.fs-xl { 
        font-size: var(--c--theme--font--sizes--xl); 
        letter-spacing: var(--c--theme--font--letterspacings--xl); 
      }
.fs-t { 
        font-size: var(--c--theme--font--sizes--t); 
        letter-spacing: var(--c--theme--font--letterspacings--t); 
      }
.f-base { font-family: var(--c--theme--font--families--base); }
.f-accent { font-family: var(--c--theme--font--families--accent); }
.m-0 { margin: var(--c--theme--spacings--0); }.mb-0 { margin-bottom: var(--c--theme--spacings--0); }.mt-0 { margin-top: var(--c--theme--spacings--0); }.ml-0 { margin-left: var(--c--theme--spacings--0); }.mr-0 { margin-right: var(--c--theme--spacings--0); }
.m-xl { margin: var(--c--theme--spacings--xl); }.mb-xl { margin-bottom: var(--c--theme--spacings--xl); }.mt-xl { margin-top: var(--c--theme--spacings--xl); }.ml-xl { margin-left: var(--c--theme--spacings--xl); }.mr-xl { margin-right: var(--c--theme--spacings--xl); }
.m-l { margin: var(--c--theme--spacings--l); }.mb-l { margin-bottom: var(--c--theme--spacings--l); }.mt-l { margin-top: var(--c--theme--spacings--l); }.ml-l { margin-left: var(--c--theme--spacings--l); }.mr-l { margin-right: var(--c--theme--spacings--l); }
.m-b { margin: var(--c--theme--spacings--b); }.mb-b { margin-bottom: var(--c--theme--spacings--b); }.mt-b { margin-top: var(--c--theme--spacings--b); }.ml-b { margin-left: var(--c--theme--spacings--b); }.mr-b { margin-right: var(--c--theme--spacings--b); }
.m-s { margin: var(--c--theme--spacings--s); }.mb-s { margin-bottom: var(--c--theme--spacings--s); }.mt-s { margin-top: var(--c--theme--spacings--s); }.ml-s { margin-left: var(--c--theme--spacings--s); }.mr-s { margin-right: var(--c--theme--spacings--s); }
.m-t { margin: var(--c--theme--spacings--t); }.mb-t { margin-bottom: var(--c--theme--spacings--t); }.mt-t { margin-top: var(--c--theme--spacings--t); }.ml-t { margin-left: var(--c--theme--spacings--t); }.mr-t { margin-right: var(--c--theme--spacings--t); }
.m-st { margin: var(--c--theme--spacings--st); }.mb-st { margin-bottom: var(--c--theme--spacings--st); }.mt-st { margin-top: var(--c--theme--spacings--st); }.ml-st { margin-left: var(--c--theme--spacings--st); }.mr-st { margin-right: var(--c--theme--spacings--st); }
.m-auto { margin: var(--c--theme--spacings--auto); }.mb-auto { margin-bottom: var(--c--theme--spacings--auto); }.mt-auto { margin-top: var(--c--theme--spacings--auto); }.ml-auto { margin-left: var(--c--theme--spacings--auto); }.mr-auto { margin-right: var(--c--theme--spacings--auto); }
.m-bx { margin: var(--c--theme--spacings--bx); }.mb-bx { margin-bottom: var(--c--theme--spacings--bx); }.mt-bx { margin-top: var(--c--theme--spacings--bx); }.ml-bx { margin-left: var(--c--theme--spacings--bx); }.mr-bx { margin-right: var(--c--theme--spacings--bx); }
.p-0 { padding: var(--c--theme--spacings--0); }.pb-0 { padding-bottom: var(--c--theme--spacings--0); }.pt-0 { padding-top: var(--c--theme--spacings--0); }.pl-0 { padding-left: var(--c--theme--spacings--0); }.pr-0 { padding-right: var(--c--theme--spacings--0); }
.p-xl { padding: var(--c--theme--spacings--xl); }.pb-xl { padding-bottom: var(--c--theme--spacings--xl); }.pt-xl { padding-top: var(--c--theme--spacings--xl); }.pl-xl { padding-left: var(--c--theme--spacings--xl); }.pr-xl { padding-right: var(--c--theme--spacings--xl); }
.p-l { padding: var(--c--theme--spacings--l); }.pb-l { padding-bottom: var(--c--theme--spacings--l); }.pt-l { padding-top: var(--c--theme--spacings--l); }.pl-l { padding-left: var(--c--theme--spacings--l); }.pr-l { padding-right: var(--c--theme--spacings--l); }
.p-b { padding: var(--c--theme--spacings--b); }.pb-b { padding-bottom: var(--c--theme--spacings--b); }.pt-b { padding-top: var(--c--theme--spacings--b); }.pl-b { padding-left: var(--c--theme--spacings--b); }.pr-b { padding-right: var(--c--theme--spacings--b); }
.p-s { padding: var(--c--theme--spacings--s); }.pb-s { padding-bottom: var(--c--theme--spacings--s); }.pt-s { padding-top: var(--c--theme--spacings--s); }.pl-s { padding-left: var(--c--theme--spacings--s); }.pr-s { padding-right: var(--c--theme--spacings--s); }
.p-t { padding: var(--c--theme--spacings--t); }.pb-t { padding-bottom: var(--c--theme--spacings--t); }.pt-t { padding-top: var(--c--theme--spacings--t); }.pl-t { padding-left: var(--c--theme--spacings--t); }.pr-t { padding-right: var(--c--theme--spacings--t); }
.p-st { padding: var(--c--theme--spacings--st); }.pb-st { padding-bottom: var(--c--theme--spacings--st); }.pt-st { padding-top: var(--c--theme--spacings--st); }.pl-st { padding-left: var(--c--theme--spacings--st); }.pr-st { padding-right: var(--c--theme--spacings--st); }
.p-auto { padding: var(--c--theme--spacings--auto); }.pb-auto { padding-bottom: var(--c--theme--spacings--auto); }.pt-auto { padding-top: var(--c--theme--spacings--auto); }.pl-auto { padding-left: var(--c--theme--spacings--auto); }.pr-auto { padding-right: var(--c--theme--spacings--auto); }
.p-bx { padding: var(--c--theme--spacings--bx); }.pb-bx { padding-bottom: var(--c--theme--spacings--bx); }.pt-bx { padding-top: var(--c--theme--spacings--bx); }.pl-bx { padding-left: var(--c--theme--spacings--bx); }.pr-bx { padding-right: var(--c--theme--spacings--bx); }
