@import '@openfun/cunningham-react/icons';
@import '@openfun/cunningham-react/style';
@import '@openfun/cunningham-react/fonts';
@import './cunningham-tokens.css';
@import './cunningham-custom-tokens.css';

.c__input, .c__field, .c__select, .c__datagrid, .typo {
  font-family: var(--c--theme--font--families--base);
}
.c__field {
  line-height: initial;
}
.c__button--tertiary {
  color: var(--c--theme--colors--primary-400);
}
.labelled-box label {
  color: var(--c--theme--colors--primary-500);
}
.labelled-box label.placeholder {
  top: 50%;
  transform: translateY(-50%);
}
.typo {
  line-height: normal;
}
.typo-text:not([class*="clr-"]), .fs-h {
  color: var(--c--theme--colors--primary-500);
}
/**
 * Input
*/
.c__input__wrapper {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}
.c__input__wrapper:hover {
  box-shadow: var(--c--theme--colors--primary-500) 0px 0px 0px 2px;
}
.c__input__wrapper .labelled-box__label.placeholder {
  cursor: inherit;
}
.c__input__wrapper .c__input {
  color: var(--c--components--forms-input--color);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
/**
 * Select
*/
.c_select__no_border .c__select .c__select__wrapper,
.c_select__no_border .c__select .c__select__wrapper:hover, 
.c_select__no_border .c__select:not(.c__select--disabled) .c__select__wrapper:hover {
  border: none;
  box-shadow: none;
}
.c__select__wrapper {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}
.c__select:not(.c__select--disabled) .c__select__wrapper:hover {
  box-shadow: var(--c--theme--colors--primary-500) 0px 0px 0px 2px;
}
.c__select__menu__item {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}
.c__select--disabled .c__select__wrapper label, .c__select--disabled .c__select__wrapper input {
  background: none;
}
/**
 * DataGrid
*/
.c__datagrid > table td {
  max-width: 10rem;
  white-space: normal;
  color: var(--c--theme--colors--primary-500);
  font-size: var(--c--theme--font--size-datagrid-cell);
}
.c__datagrid > table th .c__datagrid__header {
  color: var(--c--theme--colors--primary-500);
  font-weight: var(--c--theme--font--weights-datagrid-header);
  font-size: var(--c--theme--font--size-datagrid-header);
}
.c__datagrid > table tbody tr {
  border: 1px var(--c--theme--colors--primary-100) solid;
}
.c__datagrid > .c__pagination {
  padding-top: 1rem;
  justify-content: flex-end;
}
@media (max-width: 380px) {
  .c__datagrid > .c__pagination {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
/**
 * Date picker
*/
.c__popover.c__popover--borderless {
  z-index: 3;
}
.c__date-picker__wrapper {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}
.c__date-picker:not(.c__date-picker--disabled):hover .c__date-picker__wrapper {
  box-shadow: var(--c--theme--colors--primary-500) 0px 0px 0px 2px;
}
.c__date-picker.c__date-picker--invalid:not(.c__date-picker--disabled):hover
  .c__date-picker__wrapper {
  box-shadow: var(--c--theme--colors--danger-300) 0px 0px 0px 2px;
}
.c__date-picker__wrapper button[aria-label='Clear date'],
.c__date-picker.c__date-picker--invalid .c__date-picker__wrapper * {
  color: var(--c--theme--colors--danger-300);
}