:root {
     /**
      * Input
     */
     --c--components--forms-input--border-radius--hover: var(
       --c--components--forms-input--border-radius
     );
     --c--components--forms-input--border-radius--focus: var(
       --c--components--forms-input--border-radius
     );
     --c--components--forms-input--border-color--hover: var(--c--components--forms-input--border-color);
     /**
      * Datepicker
     **/
     --c--components--forms-datepicker--border-color--hover: var(
       --c--components--forms-datepicker--border-color
     );
     /**
      * Select
     **/
     --c--components--forms-select--value-color--disabled: var(--c--theme--colors--greyscale-400);
     --c--components--forms-labelledbox--label-color--big: var(--c--theme--colors--primary-500);
   }
   