.burgerIcon {
  cursor: pointer;
  transform: translate(-20%, 0%);
}

.burgerIcon path {
  stroke-width: 40;
  stroke-linecap: round;
  fill: none;
  transition: all 0.5s ease-in-out;
}

/* In menu form */
.burgerIcon path:first-child,
.burgerIcon path:last-child {
  stroke-dasharray: 240px 910px;
}

.burgerIcon .middle_bar {
  stroke-dasharray: 240px 240px;
}

/* In cross form */
.open path:first-child,
.open path:last-child {
  stroke-dashoffset: -650px;
}

.open :nth-child(2) {
  stroke-dasharray: 0px 220px;
  stroke-dashoffset: -120px;
}
