{% if activate_http_basic_auth or marsha_activate_http_basic_auth %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: marsha
    service: "nginx"
  name: "{{ marsha_nginx_htpasswd_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  # nota bene: the {{ app.name }}_htpasswd variable is set in
  # tasks/get_vault_for_app.yml tasks list only if the pointed file exists
  "{{ http_basic_auth_user_file | basename }}": "{{ lookup('file', marsha_htpasswd) | b64encode }}"
{% endif %}
