apiVersion: v1
kind: Service
metadata:
  labels:
    app: marsha
    service: nginx
    deployment_stamp: "{{ deployment_stamp }}"
    service_prefix: "{{ prefix }}"
    type: static-service
    removable: "no"
  name: "marsha-nginx-{{ prefix }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: {{ marsha_nginx_port }}-tcp
      port: {{ marsha_nginx_port }}
      protocol: TCP
      targetPort: {{ marsha_nginx_port }}
    - name: "{{ marsha_nginx_healthcheck_port }}-tcp"
      port: {{ marsha_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ marsha_nginx_healthcheck_port }}
  selector:
    app: marsha
    deployment: "marsha-nginx-{{ deployment_stamp | default('undefined', true) }}"
  type: ClusterIP
