apiVersion: batch/v1beta1
kind: CronJob
metadata:
  labels:
    app: marsha
    service: app
    version: "{{ marsha_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "prefetch-saml-fer-metadata-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  schedule: "{{ marsha_prefetch_saml_fer_metadata_cronjob_schedule }}"
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  suspend: {{ suspend_cronjob | default(false) }}
  jobTemplate:
    spec:
      template:
        metadata:
          name: "prefetch-saml-fer-metadata-{{ deployment_stamp }}"
          labels:
            app: marsha
            service: app
            version: "{{ marsha_image_tag }}"
            deployment_stamp: "{{ deployment_stamp }}"
        spec:
{% set image_pull_secret_name = marsha_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
          imagePullSecrets:
            - name: "{{ image_pull_secret_name }}"
{% endif %}
          containers:
            - name: marsha
              image: "{{ marsha_image_name }}:{{ marsha_image_tag }}"
              imagePullPolicy: Always
              command:
                - "/bin/bash"
                - "-c"
                - python manage.py prefetch_saml_fer_metadata saml_fer
              env:
                - name: DJANGO_SETTINGS_MODULE
                  value: marsha.configs.settings
                - name: DJANGO_CONFIGURATION
                  value: "{{ marsha_django_configuration }}"
                - name: POSTGRES_DB
                  value: "{{ marsha_postgresql_database }}"
                - name: POSTGRES_HOST
                  value: "marsha-{{ marsha_postgresql_host }}-{{ deployment_stamp }}"
                - name: POSTGRES_PORT
                  value: "{{ marsha_postgresql_port }}"
              envFrom:
                - secretRef:
                    name: "{{ marsha_secret_name }}"
                - configMapRef:
                    name: "marsha-app-dotenv-{{ deployment_stamp }}"
              resources: {{ marsha_app_cronjob_prefetch_saml_fer_metadata_resources }}
              volumeMounts:
                - name: marsha-configmap
                  mountPath: /app/src/backend/marsha/configs
          securityContext:
            runAsUser: {{ container_uid }}
            runAsGroup: {{ container_gid }}
          volumes:
            - name: marsha-configmap
              configMap:
                defaultMode: 420
                name: marsha-app-{{ deployment_stamp }}
          restartPolicy: Never
