{% set service_variant = "app" %}
{% set marsha_replicas = marsha_app_replicas %}
{% set marsha_livenessprobe = {
    "httpGet": {
        "path": "/__heartbeat__",
        "port": "django-port",
        "httpHeaders": [{
            "name": "Host",
            "value": marsha_hosts[0],
        }],
    },
    "initialDelaySeconds": 60,
    "periodSeconds": 30 ,
} %}
{% set marsha_readynessprobe = {
    "httpGet": {
        "path": "/__lbheartbeat__",
        "port": "django-port",
        "httpHeaders": [{
            "name": "Host",
            "value": marsha_hosts[0],
        }],
    },
    "initialDelaySeconds": 10,
    "periodSeconds": 5,
} %}

{% include "./_deploy_base.yml.j2" with context %}
