apiVersion: v1
kind: Secret
metadata:
  labels:
    app: marsha
    service: marsha
  name: "{{ marsha_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRES_USER: "{{ MARSHA_VAULT.POSTGRESQL_USER | default('marsha_user') | b64encode }}"
  POSTGRES_PASSWORD: "{{ MARSHA_VAULT.POSTGRESQL_PASSWORD | default('password') | b64encode }}"
  DJANGO_AWS_ACCESS_KEY_ID: "{{ MARSHA_VAULT.DJANGO_AWS_ACCESS_KEY_ID | default('secret') | b64encode }}"
  DJANGO_AWS_SECRET_ACCESS_KEY: "{{ MARSHA_VAULT.DJANGO_AWS_SECRET_ACCESS_KEY | default('secret') | b64encode }}"
  DJANGO_UPDATE_STATE_SHARED_SECRETS: "{{ MARSHA_VAULT.DJANGO_UPDATE_STATE_SHARED_SECRETS | default('secret') | b64encode }}"
  DJANGO_CLOUDFRONT_ACCESS_KEY_ID: "{{ MARSHA_VAULT.DJANGO_CLOUDFRONT_ACCESS_KEY_ID | default('secret') | b64encode }}"
  DJANGO_CLOUDFRONT_DOMAIN: "{{ MARSHA_VAULT.DJANGO_CLOUDFRONT_DOMAIN | default('foo.com') | b64encode }}"
  DJANGO_JWT_SIGNING_KEY: "{{ MARSHA_VAULT.DJANGO_JWT_SIGNING_KEY | default('secret') | b64encode }}"
  DJANGO_SECRET_KEY: "{{ MARSHA_VAULT.DJANGO_SECRET_KEY | default('supersecret') | b64encode }}"
  DJANGO_AWS_MEDIALIVE_ROLE_ARN: "{{ MARSHA_VAULT.DJANGO_AWS_MEDIALIVE_ROLE_ARN | default('secret') | b64encode }}"
  DJANGO_AWS_MEDIAPACKAGE_HARVEST_JOB_ARN: "{{ MARSHA_VAULT.DJANGO_AWS_MEDIAPACKAGE_HARVEST_JOB_ARN | default('secret') | b64encode }}"
{% if MARSHA_VAULT.DJANGO_SENTRY_DSN is defined and MARSHA_VAULT.DJANGO_SENTRY_DSN is not none %}
  DJANGO_SENTRY_DSN: "{{ MARSHA_VAULT.DJANGO_SENTRY_DSN | b64encode }}"
{% endif %}
  DJANGO_AWS_S3_REGION_NAME: "{{ MARSHA_VAULT.DJANGO_AWS_S3_REGION_NAME | default('eu-west-1') | b64encode }}"
{% if MARSHA_VAULT.DJANGO_LRS_AUTH_TOKEN is defined %}
  DJANGO_LRS_AUTH_TOKEN: "{{ MARSHA_VAULT.DJANGO_LRS_AUTH_TOKEN | b64encode }}"
{% endif %}
{% if MARSHA_VAULT.DJANGO_LRS_URL is defined %}
  DJANGO_LRS_URL: "{{ MARSHA_VAULT.DJANGO_LRS_URL | b64encode }}"
{% endif %}
{% if MARSHA_VAULT.SECRETS is defined %}
{% for k, v in MARSHA_VAULT.SECRETS.items() %}
  {{ k }}: {{ v | default('') | b64encode }}
{% endfor %}
{% endif %}
