{% if marsha_should_sign_requests %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: marsha
    service: "marsha"
  name: "{{ marsha_cloudfront_private_key_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  ssh-privatekey: "{{ MARSHA_VAULT.DJANGO_CLOUDFRONT_PRIVATE_KEY | default('') | b64encode }}"
type: kubernetes.io/ssh-auth
{% endif %}
