apiVersion: v1
kind: Service
metadata:
  labels:
    app: marsha
    service: app
    version: "{{ marsha_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: marsha-app-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: {{ marsha_django_port }}-tcp
    port: {{ marsha_django_port }}
    protocol: TCP
    targetPort: {{ marsha_django_port }}
  selector:
    app: marsha
    deployment: "marsha-app-{{ deployment_stamp }}"
  type: ClusterIP
