# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
*.egg-info
build
venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.rst

# Development/test cache & configurations
.cache
.circleci
.git
.vscode

# Assets
data

# Front-end
node_modules
