# Python
*.pyc
**/__pycache__
**/*.pyc
**/.pytest_cache
*.egg-info
build
**/venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.rst

# Development/test cache & configurations
.cache
.circleci
.git
.github
.vscode
.ssh
crowdin
lib/gitlint

# Assets
data
src/backend/marsha/static/js
src/frontend/i18n

# Front-end
**/node_modules

# AWS
# AWS sources are never used in our docker image
src/aws
