# Python
*.pyc
**/__pycache__
**/*.pyc
**/.pytest_cache
*.egg-info
build
**/venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
docker/
!docker/files/usr
env.d

# Docs
docs
*.md
*.rst

# Development/test cache & configurations
**/.cookiecutter
.cache
.circleci
.idea
.git
.gitignore
.gitlint
.github
.ssh
.vscode
bin/
!bin/entrypoint
crowdin
lib/gitlint
Makefile
readthedocs.yml
renovate.json
**/.env*

# Assets
data
src/backend/marsha/static/css
src/backend/marsha/static/js
src/backend/marsha/static/media
src/frontend/apps/**/i18n/frontend.json

# Front-end
**/node_modules

# AWS
# AWS sources are never used in our docker image
src/aws
