version: "3.4"

services:
  db:
    image: postgres:12
    env_file: env.d/db
    volumes:
      - ./docker/files/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "5452:5432"

  # We use our production image as a basis for the development image, hence, we
  # define a "base" service upon which the "app" service depends to force
  # marsha:latest build.
  base:
    build: .
    image: marsha:latest
    # Override the default command so that the container exists immediately when
    # it is run (no server).
    command: echo "I should exit now. Bye."

  app:
    build:
      context: .
      dockerfile: ./docker/images/dev/Dockerfile
      args:
        DOCKER_USER: ${DOCKER_USER:-1000}
    image: marsha:dev
    env_file:
      - env.d/db
      - env.d/${ENV_FILE:-development}
    # Override production container command that runs gunicorn in favor of the
    # django development server
    command: >
      python manage.py runserver 0.0.0.0:8000
    ports:
      - "8060:8000"
    volumes:
      - .:/app
      - ./data/static:/data/static
      - ./data/media:/data/media
      - ./data/videos:/data/videos
    depends_on:
      - "base"
      - "db"
      - "redis"
      - "mailcatcher"
    stdin_open: true
    tty: true

  peertube-runner:
    image: fundocker/peertube-runner:latest
    env_file:
      - env.d/peertube_runner

  webtorrent:
    image: node:20
    environment:
      - APP_PORT=3000
      - JWT_SIGNING_KEY=ThisIsAnExampleKeyForDevPurposeOnly
    ports:
      - "8080:3000"
    working_dir: /app
    command: ["yarn", "run", "dev"]
    volumes:
      - ./src/webtorrent:/app

  redis:
    image: redis:5

  e2e:
    build:
      context: .
      dockerfile: ./docker/images/e2e/Dockerfile
    image: marsha:e2e
    env_file:
      - env.d/db
      - env.d/${ENV_FILE:-development}
    ports:
      - "8070:8000"
    volumes:
      - .:/app
      - ./data/static:/data/static
      - ./src/backend/marsha/e2e/media:/data/media/e2e
    depends_on:
      - "app"
    stdin_open: true
    tty: true

  crowdin:
    image: crowdin/cli:3.7.10
    volumes:
      - ".:/app"
    env_file:
      - env.d/development
    working_dir: /app

  node:
    image: node:20
    volumes:
      - ".:/app"
    working_dir: /app/src/frontend

  mail-generator:
    image: node:20
    volumes:
      - ".:/app"
    working_dir: /app/src/mail

  dockerize:
    image: jwilder/dockerize

  lambda_base:
    build:
      context: ./src/aws/
      target: development
    image: marsha/lambda:dev
    # Override the default command so that the container exists immediately when
    # it is run (no server).
    entrypoint: ""
    command: echo "I should exit now. Bye."

  lambda_convert:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-convert
    command: ["/var/task/lambda-convert/index.handler"]
    ports:
      - 9000:8080
    env_file:
      - env.d/lambda
    volumes:
      - "./src/aws/lambda-convert:/var/task/lambda-convert"
      - "./src/aws/utils:/var/task/utils"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
    depends_on:
      - lambda_base

  lambda_complete:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-complete
    command: ["/var/task/lambda-complete/index.handler"]
    ports:
      - 9001:8080
    env_file:
      - env.d/lambda
    volumes:
      - "./src/aws/lambda-complete:/var/task/lambda-complete"
      - "./src/aws/utils:/var/task/utils"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
    depends_on:
      - lambda_base

  lambda_configure:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-configure
    command: ["/var/task/lambda-configure/index.handler"]
    ports:
      - 9002:8080
    env_file:
      - env.d/lambda
    volumes:
      - "./src/aws/lambda-configure:/var/task/lambda-configure"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
    depends_on:
      - lambda_base

  lambda_medialive:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-medialive
    command: ["/var/task/lambda-medialive/index.handler"]
    ports:
      - 9003:8080
    env_file:
      - env.d/lambda
    volumes:
      - "./src/aws/lambda-medialive:/var/task/lambda-medialive"
      - "./src/aws/utils:/var/task/utils"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
    depends_on:
      - lambda_base

  lambda_mediapackage:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-mediapackage
    command: ["/var/task/lambda-mediapackage/index.handler"]
    ports:
      - 9006:8080
    env_file:
      - env.d/lambda
    volumes:
      - "./src/aws/lambda-mediapackage:/var/task/lambda-mediapackage"
      - "./src/aws/utils:/var/task/utils"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
      - "./transmuxed_video:/mnt/transmuxed_video"
    depends_on:
      - lambda_base

  lambda_elemental_routing:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-elemental-routing
    command: ["/var/task/lambda-elemental-routing/index.handler"]
    ports:
      - 9004:8080
    env_file:
      - env.d/lambda
    environment:
      - MEDIALIVE_LAMBDA_NAME=marsha-medialive
    volumes:
      - "./src/aws/lambda-elemental-routing:/var/task/lambda-elemental-routing"
      - "./src/aws/utils:/var/task/utils"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
    depends_on:
      - lambda_base

  lambda_migrate:
    image: marsha/lambda:dev
    working_dir: /var/task/lambda-migrate
    command: ["/var/task/lambda-migrate/index.handler"]
    ports:
      - 9005:8080
    env_file:
      - env.d/lambda
    volumes:
      - "./src/aws/lambda-migrate:/var/task/lambda-migrate"
      - "./src/aws/utils:/var/task/utils"
      - "./src/.prettierrc.js:/var/task/.prettierrc.js"
    depends_on:
      - lambda_base

  mailcatcher:
    image: sj26/mailcatcher:latest
    ports:
      - "1080:1080"

  prosody-app:
    image: fundocker/prosody
    ports:
      - 5222:5222
    volumes:
      - "./docker/files/etc/prosody:/etc/prosody"
    depends_on:
      - db

  prosody-nginx:
    image: nginx
    ports:
      - 8061:80
    volumes:
      - "./docker/files/etc/nginx/conf.d:/etc/nginx/conf.d"
    depends_on:
      - prosody-app
    links:
      - "prosody-app:prosody"
