{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
      * {
        font-family: Helvetica, sans-serif;
      }

      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1rem;
      }

      section {
        flex-basis: 50%;
        text-align: center;
        width: 100%;
      }

      .resource-list {
        text-align: left;
        width: 30%;
      }

      .resource-list h3 {
        margin: 0.5rem 0 0;
      }

      .resource-list p {
        margin: 0 0 0 0.5rem;
      }

      .resource-detail pre {
        display: none;
        visibility: hidden;
      }

      .resource-detail pre.show {
        display: block;
        visibility: visible;
      }

      .columns {
        display: flex;
      }

      .columns > div {
        flex: 1;
      }

      section:last-of-type {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .input-group {
        display: inline-block;
        text-align: left;
        margin-bottom: 0.5rem;
      }

      .input-group label,
      .input-group input,
      .input-group select {
        display: block;
      }

      section p {
        max-width: 40rem;
      }

      section iframe {
        width: 900px;
        height: 100px; /* Explicitly set a bogus height to force iframe-resizer action */
        resize: both;
        overflow: auto;
        border: 1px solid lightslategray;
      }

      [data-autofill] {
        cursor: pointer;
      }

      pre {
        text-align: left;
        font-family: monospace;
      }

    </style>
  </head>
  <body>
  {% if content_selected %}
    <script src="{% static 'js/iframeResizer.contentWindow.min.js' %}"></script>
    <dl>
      {% for key, value in content_selected.items %}
        <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
      {% endfor %}
    </dl>
  {% else %}
    <section>
      <h2>Iframe LTI Select</h2>
      <form
        id="lti_select"
        method="post"
        target="lti_select"
      >
        <div class="input-group">
          <label>lti_message_type</label>
          <input type="text" name="lti_message_type" value="ContentItemSelectionRequest"/>
        </div>
        <div class="input-group">
          <label>lti_version</label>
          <input type="text" name="lti_version" value="LTI-1p0"/>
        </div>
        <div class="input-group">
          <label>roles</label>
          <select name="roles">
            <option value="instructor" selected>Instructor</option>
            <option value="administrator">Administrator</option>
            <option value="student">Student</option>
          </select>
        </div>
        <div class="input-group">
          <label>resource</label>
          <select id="lti_select_resource">
            <option selected></option>
            <option value="video">video</option>
            <option value="webinar">webinar</option>
            <option value="document">document</option>
            <option value="classroom">classroom</option>
            <option value="markdown">Markdown document</option>
            <option value="deposit">File depository</option>
          </select>
        </div>
        <div class="input-group">
          <label>context_id</label>
          <input type="text" name="context_id" value="{{ select_context_id }}"/>
        </div>
        <div class="input-group">
          <label>content_item_return_url</label>
          <input type="text" name="content_item_return_url" value="{{ select_content_item_return_url }}"/>
        </div>
        {% for key, value in oauth_dict.items %}
          <div class="input-group">
            <label>{{ key }}</label>
            <input type="text" name="{{ key }}" value="{{ value }}"/>
          </div>
        {% endfor %}
        <div class="input-group">
          <label>title (LMS activity title)</label>
          <input type="text" name="title" value="Title sent by the LMS"/>
        </div>
        <div class="input-group">
          <label>text (LMS activity description)</label>
          <input type="text" name="text" value=""/>
        </div>
        <input type="submit"/>
      </form>
      <iframe
        class="controlled-iframe"
        name="lti_select"
        srcdoc="<body style='position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; margin: 0;'><h2 style='font-family: Helvetica, sans-serif;'>Fill the form above to load the LTI Select view</h2></body>"
        frameborder="0"
        allowfullscreen
        allow="fullscreen *"
        webkitallowfullscreen
        mozallowfullscreen
      >
      </iframe>
    </section>
    <p>
      <b>Consumer site</b>: {{ consumer_site }} - <b>users</b> :
      {% for user in consumer_site_users %}
        {{ user.username }}
      {% endfor %}<br>
      <b>Playlist</b>: {{ playlist }} ({{ playlist.id }}) - <b>users</b> :
      {% for user in playlist_users %}
        {{ user.username }}
      {% endfor %}
    </p>

    {% if last_objects %}
      <section>
        <h2>Form autofill</h2>
        <div class="columns">
          <div class="resource-list">
            {% for resource_name, resources in last_objects.items %}
              {% if resources %}
                <h3>{{ resource_name }}</h3>
                {% for resource in resources %}
                  <p data-autofill
                     data-model="{{ resource_name }}"
                     data-id="{{ resource.id }}"
                     data-resource_link_id="{{ resource.title }}"
                     data-context_id="{{ resource.playlist.lti_id }}"
                     title="{{ resource.title }}"
                  >
                    {{ resource.title }} - {{ resource.updated_on|date:'d/m/Y H:i' }}
                  </p>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>

          <section class="resource-detail">
            {% for resource_name, resources in last_objects.items %}
              {% if resources %}
                {% for resource in resources %}
                  <pre id="{{ resource.id }}">{{ resource.to_dict | pprint }}</pre>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </section>
        </div>
      </section>
    {% endif %}

    <section>
      <h2>Iframe LTI Resource setup</h2>
      <p>
        Open the `/lti/videos/` view in the iframe below, with a POST request.
        Simulates execution in real conditions, except this is not a
        cross-origin call.
      </p>
      <form
        id="lti_resource_iframe"
        method="post"
        target="lti_iframe"
        class="resource"
      >
        <div class="input-group">
          <label>uuid</label>
          <input type="text" name="uuid" value="{{ uuid }}"/>
        </div>
        <div class="input-group">
          <label>ressource_link_id</label>
          <input type="text" name="resource_link_id" value="{{ resource_link_id }}"/>
        </div>
        <div class="input-group">
          <label>context_id</label>
          <input
            type="text"
            name="context_id"
            value="course-v1:ufr+mathematics+0001"
          />
        </div>
        <div class="input-group">
          <label>roles</label>
          <select name="roles">
            <option value="instructor" selected>Instructor</option>
            <option value="administrator">Administrator</option>
            <option value="student">Student</option>
          </select>
        </div>
        <div class="input-group">
          <label>resource</label>
          <select name="resource">
            <option>Resource</option>
            <option value="videos" selected>video</option>
            <option value="documents">document</option>
            <option value="classrooms">classroom</option>
            <option value="markdown-documents">Markdown document</option>
            <option value="deposits">File depository</option>
          </select>
        </div>
        <div class="input-group">
          <label>user_id</label>
          <input type="text" name="user_id" value="{{ user_id }}"/>
        </div>
        <div class="input-group">
          <label>lis_person_contact_email_primary</label>
          <input type="text" name="lis_person_contact_email_primary" value="{{ lis_person_contact_email_primary }}"/>
        </div>
        <div class="input-group">
          <label>launch_presentation_locale</label>
          <select name="launch_presentation_locale">
            <option>Locale</option>
            <option value="en" selected>English</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        <div class="input-group">
          <label>lis_person_sourcedid</label>
          <input type="text" name="lis_person_sourcedid" value="{{ lis_result_sourcedid }}"/>
        </div>
        <div class="input-group">
          <label>lis_person_name_full</label>
          <input type="text" name="lis_person_name_full" value="{{ lis_person_name_full }}"/>
        </div>
        <div class="input-group">
          <label>custom_embedded_resource</label>
          <input type="checkbox" name="custom_embedded_resource"/>
        </div>
        <input type="hidden" name="custom_component_display_name" value="LTI Consumer"/>
        <input type="hidden" name="lti_version" value="LTI-1p0"/>
        <input type="hidden" name="lti_message_type" value="basic-lti-launch-request"/>
        <input type="hidden" name="launch_presentation_return_url" value=""/>
        <input type="hidden" name="lis_result_sourcedid"
               value="course-v1%3Aufr%2Bmathematics%2B0001:example.com-df7b0f2886f04b279854585735a402c4:56255f3807599c377bf0e5bf072359fd"/>
        <input type="submit"/>
      </form>
      <iframe
        class="controlled-iframe"
        name="lti_iframe"
        srcdoc="<body style='position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; margin: 0;'><h2 style='font-family: Helvetica, sans-serif;'>Fill the form above to load the LTI Resource view</h2></body>"
        frameborder="0"
        allowfullscreen
        allow="fullscreen *"
        webkitallowfullscreen
        mozallowfullscreen
      >
      </iframe>
      <script src="{% static 'js/iframeResizer.min.js' %}"></script>
      <script>
        const baseUrl = "//{{ domain }}/lti";
        document.addEventListener('DOMContentLoaded', function () {
          const forms = document.querySelectorAll('form.resource');
          for (let i = 0; i < forms.length; i++) {
            const formForListener = forms[i];
            formForListener.addEventListener('submit', function (event) {
              event.preventDefault();
              submitForm(event.target);
            });
          }
        });
        iFrameResize({
          checkOrigin: ["http://{{ domain }}", "https://{{ domain }}"],
        });
      </script>
    </section>
    <section>
      <h2>New page LTI Resource setup</h2>
      <p style="margin-top: 0;">
        Open the `/lti/videos/` view in a regular full-screen page, with a POST
        request.
      </p>
      <form
        id="lti_resource_page"
        method="post"
        class="resource"
      >
        <div class="input-group">
          <label>uuid</label>
          <input type="text" name="uuid" value="{{ uuid }}"/>
        </div>
        <div class="input-group">
          <label>resource_link_id</label>
          <input type="text" name="resource_link_id" value="{{ resource_link_id }}"/>
        </div>
        <div class="input-group">
          <label>context_id</label>
          <input
            type="text"
            name="context_id"
            value="course-v1:ufr+mathematics+0001"
          />
        </div>
        <div class="input-group">
          <label>roles</label>
          <select name="roles">
            <option value="instructor" selected>Instructor</option>
            <option value="administrator">Administrator</option>
            <option value="student">Student</option>
          </select>
        </div>
        <div class="input-group">
          <label>resource</label>
          <select name="resource">
            <option>Resource</option>
            <option value="videos" selected>video</option>
            <option value="documents">document</option>
            <option value="classrooms">classroom</option>
            <option value="markdown-documents">Markdown document</option>
            <option value="deposits">File depository</option>
          </select>
        </div>
        <div class="input-group">
          <label>user_id</label>
          <input type="text" name="user_id" value="{{ user_id }}"/>
        </div>
        <div class="input-group">
          <label>lis_person_contact_email_primary</label>
          <input type="text" name="lis_person_contact_email_primary" value="{{ lis_person_contact_email_primary }}"/>
        </div>
        <div class="input-group">
          <label>launch_presentation_locale</label>
          <select name="launch_presentation_locale">
            <option>Locale</option>
            <option value="en" selected>English</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        <div class="input-group">
          <label>lis_person_sourcedid</label>
          <input type="text" name="lis_person_sourcedid" value="{{ lis_result_sourcedid }}"/>
        </div>
        <div class="input-group">
          <label>lis_person_name_full</label>
          <input type="text" name="lis_person_name_full" value="{{ lis_person_name_full }}"/>
        </div>
        <div class="input-group">
          <label>custom_embedded_resource</label>
          <input type="checkbox" name="custom_embedded_resource"/>
        </div>
        {% for key, value in oauth_dict.items %}
          <div class="input-group">
            <label>{{ key }}</label>
            <input type="text" name="{{ key }}" value="{{ value }}"/>
          </div>
        {% endfor %}
        <input type="hidden" name="custom_component_display_name" value="LTI Consumer"/>
        <input type="hidden" name="lti_version" value="LTI-1p0"/>
        <input type="hidden" name="lti_message_type" value="basic-lti-launch-request"/>
        <input type="hidden" name="launch_presentation_return_url" value=""/>
        <input type="hidden" name="lis_result_sourcedid"
               value="course-v1%3Aufr%2Bmathematics%2B0001:example.com-df7b0f2886f04b279854585735a402c4:56255f3807599c377bf0e5bf072359fd"/>
        <input type="submit"/>
        <button id="launch_lti_resource_page" type="button">New tab</button>
      </form>
    </section>
  {% endif %}
  <script>
    document.querySelectorAll('[data-autofill]').forEach((resource) => {
      resource.onclick = () => {
        document.querySelectorAll('input[name="uuid"]').forEach((input) => {
          input.value = resource.dataset.id
        });
        document.querySelectorAll('input[name="resource_link_id"]').forEach((input) => {
          input.value = resource.dataset.resource_link_id
        });
        document.querySelectorAll('input[name="context_id"]').forEach((input) => {
          input.value = resource.dataset.context_id
        });
        document.querySelectorAll('select[name="resource"]').forEach((select) => {
          select.value = resource.dataset.model
        });
        document.querySelectorAll('.resource-detail pre').forEach((detail) => {
          detail.className = '';
        });
        document.getElementById(resource.dataset.id).className = 'show';
      };
    });
    document.querySelector('#launch_lti_resource_page').onclick = () => {
      submitForm(document.querySelector('#lti_resource_page'), true);
    };

    const submitForm = (form, newTab = false) => {
      const uuid = form.querySelector('input[name="uuid"]').value;
      const resource = form.querySelector('select[name="resource"]').value;
      form.action = baseUrl + '/' + resource + '/' + uuid;
      if (newTab) {
        form.target = '_blank';
      }
      form.submit();
    };

    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('lti_select');
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        let action = '{% url "select_lti_view" %}';
        const selectedResourceValue = form.querySelector('#lti_select_resource').value
        if (selectedResourceValue) {
          action = action + selectedResourceValue + '/'
        }
        form.action = action;
        form.submit();
      });
    });

  </script>
  </body>
</html>
