{% if env_type in trashable_env_types %}
apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: marsha
    service: postgresql
    version: "{{ marsha_postgresql_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "marsha-postgresql-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: marsha
      service: postgresql
      version: "{{ marsha_postgresql_image_tag }}"
      deployment: "marsha-postgresql-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: marsha
        service: postgresql
        version: "{{ marsha_postgresql_image_tag }}"
        deployment: "marsha-postgresql-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = marsha_postgresql_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: {{ marsha_postgresql_image_name }}:{{ marsha_postgresql_image_tag }}
          name: postgresql
          ports:
            - containerPort: {{ marsha_postgresql_port }}
              protocol: TCP
          env:
            - name: POSTGRES_DB
              value: "{{ marsha_postgresql_database }}"
            - name: PGDATA
              value: "{{ marsha_postgresql_pgdata }}"
          envFrom:
            - secretRef:
                name: "{{ marsha_postgresql_secret_name }}"
          resources: {{ marsha_postgresql_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
{% endif %}
