apiVersion: v1
kind: Secret
metadata:
  labels:
    app: marsha
    service: postgresql
  name: "{{ marsha_postgresql_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRES_USER: "{{ MARSHA_VAULT.POSTGRESQL_USER | default('marsha_user') | b64encode }}"
  POSTGRES_PASSWORD: "{{ MARSHA_VAULT.POSTGRESQL_PASSWORD | default('pass') | b64encode }}"
