# See `docs/env.md` for details about these environment variables

# Django
DJANGO_SETTINGS_MODULE=marsha.settings
DJANGO_CONFIGURATION=Development
DJANGO_SECRET_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_JWT_SIGNING_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_BYPASS_LTI_VERIFICATION=True

# Database
POSTGRES_HOST=db
POSTGRES_DB=marsha
POSTGRES_USER=marsha_user
POSTGRES_PASSWORD=pass

# Python
PYTHONUNBUFFERED=1

# AWS Admin role for development purposes
DJANGO_AWS_ACCESS_KEY_ID=yourAwsAccesKey
DJANGO_AWS_SECRET_ACCESS_KEY=YourAwsSecretAccessKeyId
DJANGO_AWS_S3_REGION_NAME=eu-west-1

# Cloudfront Signed URLs for mp4 files
DJANGO_CLOUDFRONT_SIGNED_URLS_ACTIVE=False
DJANGO_CLOUDFRONT_DOMAIN=yourCloudfrontUrl
# variable below should be uncommented if DJANGO_CLOUDFRONT_SIGNED_URLS_ACTIVE is set to True
# DJANGO_CLOUDFRONT_PRIVATE_KEY_PATH=/path/to/cloudfront/ssh/private_key
# DJANGO_CLOUDFRONT_ACCESS_KEY_ID=YourCloudfrontAccessKeyId

# Medialive ARN role
DJANGO_AWS_MEDIALIVE_ROLE_ARN=aws:medialive:arn:role
DJANGO_AWS_MEDIAPACKAGE_HARVEST_JOB_ARN=aws:mediapackage:arn:role

# XMPP
DJANGO_LIVE_CHAT_ENABLED=True
DJANGO_XMPP_BOSH_URL=http://localhost:8061/http-bind
DJANGO_XMPP_CONFERENCE_DOMAIN=conference.prosody
DJANGO_XMPP_PRIVATE_ADMIN_JID=admin@prosody-app
DJANGO_XMPP_PRIVATE_SERVER_PASSWORD=jm2bafdxJRzxR9SDJEEMsv2b2
DJANGO_XMPP_JWT_SHARED_SECRET=ThisIsNotAPrivateProsodyJwtSigningKey
DJANGO_XMPP_DOMAIN=prosody

DJANGO_UPDATE_STATE_SHARED_SECRETS=ThisIsAFirstSharedSecret,ThisOneTheSecondSharedSecret

# CROWDIN API Credentials

CROWDIN_API_KEY=Your-Api-Key
CROWDIN_PROJECT_ID=Your-Project-Id
CROWDIN_BASE_PATH=/app/src
