# See `docs/env.md` for details about these environment variables

# Django
DJANGO_SETTINGS_MODULE=marsha.settings
DJANGO_CONFIGURATION=Development
DJANGO_SECRET_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_JWT_SIGNING_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_BYPASS_LTI_VERIFICATION=True

# Python
PYTHONUNBUFFERED=1

# AWS Admin role for development purposes
DJANGO_AWS_ACCESS_KEY_ID=yourAwsAccesKey
DJANGO_AWS_SECRET_ACCESS_KEY=YourAwsSecretAccessKeyId
DJANGO_AWS_S3_REGION_NAME=eu-west-1

# VIDEOS_STORAGE_S3
DJANGO_VIDEOS_STORAGE_S3_ACCESS_KEY=yourS3AccesKey
DJANGO_VIDEOS_STORAGE_S3_SECRET_KEY=yourS3AccesKey
DJANGO_VIDEOS_STORAGE_S3_ENDPOINT_URL=https://s3.amazonaws.com
DJANGO_VIDEOS_STORAGE_S3_BUCKET_NAME=yourS3BucketName

# LTI provider xml configuration (legacy)
DJANGO_LTI_CONFIG_TITLE=Marsha Dev
DJANGO_LTI_CONFIG_DESCRIPTION=Test cartridge for Marsha Dev
DJANGO_LTI_CONFIG_DESCRIPTION=marsha_32x32_blue.png
DJANGO_LTI_CONFIG_URL=https://github.com/openfun/marsha
DJANGO_LTI_CONFIG_CONTACT_EMAIL=fun.dev@fun-mooc.fr

# BBB server credentials
DJANGO_BBB_ENABLED=False
DJANGO_BBB_API_ENDPOINT=https://example.com/bbb/api
DJANGO_BBB_API_SECRET=BbbSecret
# BBB callback through scalelite may use a different secret to sign the sent token
DJANGO_BBB_API_CALLBACK_SECRET=BbbOtherSecret

# deposit application
DJANGO_DEPOSIT_ENABLED=True

# Markdown application
DJANGO_MARKDOWN_ENABLED=True

# Cloudfront Signed URLs for mp4 files
DJANGO_CLOUDFRONT_SIGNED_URLS_ACTIVE=False
DJANGO_CLOUDFRONT_DOMAIN=yourCloudfrontUrl
# variable below should be uncommented if DJANGO_CLOUDFRONT_SIGNED_URLS_ACTIVE is set to True
# DJANGO_CLOUDFRONT_PRIVATE_KEY_PATH=/path/to/cloudfront/ssh/private_key
# DJANGO_CLOUDFRONT_SIGNED_PUBLIC_KEY_ID=YourCloudfrontPublicKeyId

# Medialive ARN role
DJANGO_AWS_MEDIALIVE_ROLE_ARN=aws:medialive:arn:role
DJANGO_AWS_MEDIAPACKAGE_HARVEST_JOB_ARN=aws:mediapackage:arn:role

# XMPP
DJANGO_LIVE_CHAT_ENABLED=True
DJANGO_XMPP_BOSH_URL=http://localhost:8061/http-bind
DJANGO_XMPP_CONFERENCE_DOMAIN=conference.prosody
DJANGO_XMPP_PRIVATE_ADMIN_JID=admin@prosody-app
DJANGO_XMPP_PRIVATE_SERVER_PASSWORD=jm2bafdxJRzxR9SDJEEMsv2b2
DJANGO_XMPP_JWT_SHARED_SECRET=ThisIsNotAPrivateProsodyJwtSigningKey
DJANGO_XMPP_DOMAIN=prosody

DJANGO_UPDATE_STATE_SHARED_SECRETS=ThisIsAFirstSharedSecret,ThisOneTheSecondSharedSecret

# CROWDIN API Credentials

CROWDIN_API_KEY=Your-Api-Key
CROWDIN_PROJECT_ID=Your-Project-Id
CROWDIN_BASE_PATH=/app/src

# REMINDERS
REMINDERS_SECRET="Marsha"

# P2P
DJANGO_P2P_ENABLED=True
DJANGO_P2P_STUN_SERVER_URLS=stun1.l.google.com:19302,stun2.l.google.com:19302,stun3.l.google.com:19302,stun4.l.google.com:19302
DJANGO_P2P_WEB_TORRENT_TRACKER_URLS=wss://tracker.openwebtorrent.com,wss://tracker.btorrent.xyz,wss://tracker.fastcast.nz