## AWS ACCESS USED BY AWS CLI/SDK
AWS_ACCESS_KEY_ID=YOUR-AWS-AWS-ACCESS-KEY-ID
AWS_SECRET_ACCESS_KEY=YOUR-AWS-AWS-SECRET-ACCESS-KEY
AWS_REGION=eu-west-1

LAMBDA_REPOSITORY_URL=THE_ECR_REPOSITORY_URL
LAMBDA_IMAGE_NAME=marsha/lambda

POPPLER_VERSION=21.12.0
POPPLER_DATA_VERSION=0.4.11
OPENJPEG_VERSION=2.4.0
