# Misc
APP_SECRET=tohy6uchaa8jai3phohmaeth5ruphaMaa3lei3eiweesuC2eeka6ohhaecooquai5lacaiTa
DOMAIN_NAME=localhost
API_PORT=8080
UI_PORT=3000
LOG_MIN_LEVEL=debug
NODE_ENV=development
WINSTON_CLOUDWATCH_ENABLED=false
FS_REPO=local
QUEUE_PROVIDER=REDIS


# -- Mongo --
MONGODB_PATH=mongodb://mongodb:27017/learninglocker_v2

# -- Redis --
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=LEARNINGLOCKER

# -- Email --
SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_SECURED=false
SMTP_USER=
SMTP_PASS=
