apiVersion: v1
kind: Secret
metadata:
  labels:
    app: marsha
    service: webtorrent
  name: "{{ marsha_webtorrent_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  JWT_SIGNING_KEY: "{{ MARSHA_VAULT.DJANGO_JWT_SIGNING_KEY | default('marsha_jwt_signing_key') | b64encode }}"
