<html>
<head>
    <title>Erreur 404</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="jumbotron">
                    <h2>Erreur 404</h2>
                    <small>
We're sorry, but the requested page could not be found.
                    </small>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>

