/*
 * Update some plyr styles to properly display videos when there is a mismatch between the video aspect-ratio
 * and the iframe aspect ratio.
 *
 * In those cases we want to show the video scaled to the smallest compatible dimension and centered, with
 * the rest of the viewport filled with black bands.
 */
.marsha-LTI .plyr {
  /**
   * 100/56.25 == 16/9
   * We use this ratio as we base marsha's layout in the LTI app on video display.
   */
  width: 100vw;
  min-height: 56.25vw;
  overflow: hidden;
}

.plyr__video-wrapper {
  display: flex;
  height: 100%;
}

.plyr video,
.plyr audio {
  max-height: 100%;
}
