upstream marsha-webtorrent {
  server marsha-webtorrent-{{ deployment_stamp }}:{{ marsha_webtorrent_port }} fail_timeout=0;
}


server {
  listen {{ marsha_webtorrent_nginx_port }};
  server_name localhost;

  # Disables server version feedback on pages and in headers
  server_tokens off;
  {% block server_extra %}{% endblock %}

  location / {
    proxy_pass http://marsha-webtorrent;

    proxy_http_version 1.1;
    proxy_set_header Connection "Upgrade";
    proxy_set_header Upgrade $http_upgrade;

    proxy_buffering off;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}
