{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        font-family: Helvetica, sans-serif;
      }

      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1rem;
      }

      section {
        flex-basis: 50%;
        text-align: center;
      }

      section:last-of-type {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .input-group {
          display: inline-block;
          text-align: left;
          margin-bottom: 0.5rem;
      }

      .input-group label,
      .input-group input,
      .input-group select {
          display: block;
      }

      section p {
        max-width: 40rem;
      }

      section iframe {
        width: 100%;
        height: 100px; /* Explicitly set a bogus height to force iframe-resizer action */
        resize: both;
        overflow: auto;
        border: 1px solid lightslategray;
      }
    </style>
  </head>

  <body>
  {% if content_selected %}
    <script src="{% static 'js/iframeResizer.contentWindow.min.js' %}"></script>
    <dl>
      {% for key, value in content_selected.items %}
        <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
      {% endfor %}
    </dl>
  {% else %}
    <section>
      <h2>Iframe LTI Select</h2>
      <form
        id="lti_select"
        method="post"
        target="lti_select"
        action={% url "select_lti_view" %}
      >
        <div class="input-group">
          <label>lti_message_type</label>
          <input type="text" name="lti_message_type" value="ContentItemSelectionRequest"/>
        </div>
        <div class="input-group">
          <label>lti_version</label>
          <input type="text" name="lti_version" value="LTI-1p0"/>
        </div>
        <div class="input-group">
          <label>roles</label>
          <input type="text" name="roles" value="Instructor"/>
        </div>
        <div class="input-group">
          <label>context_id</label>
          <input type="text" name="context_id" value="{{ select_context_id }}"/>
        </div>
        <div class="input-group">
          <label>content_item_return_url</label>
          <input type="text" name="content_item_return_url" value="{{ select_content_item_return_url }}"/>
        </div>

        {% for key, value in oauth_dict.items %}
        <div class="input-group">
          <label>{{ key }}</label>
          <input type="text" name="{{ key }}" value="{{ value }}"/>
        </div>
        {% endfor %}

        <input type="submit" />
      </form>

      <iframe
        class="controlled-iframe"
        name="lti_select"
        srcdoc="<body style='position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; margin: 0;'><h2 style='font-family: Helvetica, sans-serif;'>Fill the form above to load the LTI Select view</h2></body>"
        frameborder="0"
        allowfullscreen
        allow="fullscreen *"
        webkitallowfullscreen
        mozallowfullscreen
      >
      </iframe>
    </section>

    <section>
      <h2>Iframe LTI Resource setup</h2>
      <p>
        Open the `/lti/videos/` view in the iframe below, with a POST request.
        Simulates execution in real conditions, except this is not a
        cross-origin call.
      </p>
      <form
        method="post"
        target="lti_iframe"
        class="resource"
      >
        <div class="input-group">
          <label>uuid</label>
          <input type="text" name="uuid" value="{{ uuid }}" />
        </div>
        <div class="input-group">
          <label>ressource_link_id</label>
          <input type="text" name="resource_link_id" value="example.com-df7" />
        </div>
        <div class="input-group">
          <label>context_id</label>
          <input
            type="text"
            name="context_id"
            value="course-v1:ufr+mathematics+0001"
          />
        </div>
        <div class="input-group">
          <label>roles</label>
          <input type="text" name="roles" value="Instructor" />
        </div>
        <div class="input-group">
          <label>resource</label>
          <select name="resource">
            <option>Resource</option>
            <option value="videos" selected>video</option>
            <option value="documents">document</option>
          </select>
        </div>
        <div class="input-group">
          <label>user_id</label>
          <input type="text" name="user_id" value="56255f3807599c377bf0e5bf072359fd" />
        </div>
        <div class="input-group">
          <label>lis_person_contact_email_primary</label>
          <input type="text" name="lis_person_contact_email_primary" value="contact@openfun.fr" />
        </div>
        <div class="input-group">
          <label>launch_presentation_locale</label>
          <select name="launch_presentation_locale">
            <option>Locale</option>
            <option value="en" selected>English</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
          </select>
        </div>
        <input type="hidden" name="custom_component_display_name" value="LTI Consumer" />
        <input type="hidden" name="lti_version" value="LTI-1p0" />
        <input type="hidden" name="lis_person_sourcedid" value="John" />
        <input type="hidden" name="lti_message_type" value="basic-lti-launch-request" />
        <input type="hidden" name="launch_presentation_return_url" value="" />
        <input type="hidden" name="lis_result_sourcedid" value="course-v1%3Aufr%2Bmathematics%2B0001:example.com-df7b0f2886f04b279854585735a402c4:56255f3807599c377bf0e5bf072359fd" />

        <input type="submit" />
      </form>

      <iframe
        class="controlled-iframe"
        name="lti_iframe"
        srcdoc="<body style='position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; margin: 0;'><h2 style='font-family: Helvetica, sans-serif;'>Fill the form above to load the LTI Resource view</h2></body>"
        frameborder="0"
        allowfullscreen
        allow="fullscreen *"
        webkitallowfullscreen
        mozallowfullscreen
      >
      </iframe>

      <script src="{% static 'js/iframeResizer.min.js' %}"></script>
      <script>
        var baseUrl = "http://{{ domain }}/lti";

        document.addEventListener('DOMContentLoaded', function () {
          var forms = document.querySelectorAll('form.resource');
          for (var i = 0; i < forms.length; i++) {
            var formForListener = forms[i];
            formForListener.addEventListener('submit', function (event) {
              event.preventDefault();

              var form = event.target;
              var uuid = form.querySelector('input[name="uuid"]').value;
              var resource = form.querySelector('select[name="resource"]').value;
              form.action = baseUrl + '/' + resource + '/' + uuid;
              form.submit();
            });
          }
        });

        iFrameResize({
          checkOrigin: ["http://{{ domain }}"],
        });
      </script>
    </section>

    <section>
      <h2>New page LTI Resource setup</h2>
      <p style="margin-top: 0;">
        Open the `/lti/videos/` view in a regular full-screen page, with a POST
        request.
      </p>
      <form
        method="post"
        class="resource"
      >
        <div class="input-group">
          <label>uuid</label>
          <input type="text" name="uuid" value="{{ uuid }}" />
        </div>
        <div class="input-group">
          <label>resource_link_id</label>
          <input type="text" name="resource_link_id" value="example.com-df7" />
        </div>
        <input
          type="text"
          name="context_id"
          value="course-v1:ufr+mathematics+0001"
        />
        <div class="input-group">
          <label>roles</label>
          <input type="text" name="roles" value="Instructor" />
        </div>
        <div class="input-group">
          <label>resource</label>
          <select name="resource">
            <option>Resource</option>
            <option value="videos" selected>video</option>
            <option value="documents">document</option>
          </select>
        </div>
        <div class="input-group">
          <label>user_id</label>
          <input type="text" name="user_id" value="56255f3807599c377bf0e5bf072359fd" />
        </div>
        <div class="input-group">
          <label>lis_person_contact_email_primary</label>
          <input type="text" name="lis_person_contact_email_primary" value="contact@openfun.fr" />
        </div>
        <input type="hidden" name="custom_component_display_name" value="LTI Consumer" />
        <input type="hidden" name="lti_version" value="LTI-1p0" />
        <input type="hidden" name="lis_person_sourcedid" value="John" />
        <input type="hidden" name="lti_message_type" value="basic-lti-launch-request" />
        <input type="hidden" name="launch_presentation_return_url" value="" />
        <input type="hidden" name="lis_result_sourcedid" value="course-v1%3Aufr%2Bmathematics%2B0001:example.com-df7b0f2886f04b279854585735a402c4:56255f3807599c377bf0e5bf072359fd" />
        <input type="hidden" name="launch_presentation_locale" value="en" />
        <input type="submit" />
      </form>
    </section>
  {% endif %}
  </body>
</html>
