{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="public-path" value="{{ static_base_url }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
      .container {
        display: block;
        Margin: 0 auto !important;
        /* makes it centered */
        max-width: 580px;
        padding: 10px;
        width: 580px; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{% trans "Reminders disabled" %}</h1>
      <h3>{% trans "You have successfully unregistered your email for the alerts of the video" %} {{video.title}}.</h3>
      <p> {% trans "You won't receive any reminders about this webinar." %}</p>
      <p> {% trans "Best regards, see you soon!" %}</p>
    </div>
  </body>
</html>
