{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="public-path" value="{{ static_base_url }}" />
  </head>
  <body>
    <div id="marsha-frontend-data" data-context="{{ app_data }}"></div>

    <div id="marsha-frontend-root"></div>
    <script src='{% static "js/build/index.js" %}'></script>
    {% for external_script in external_javascript_scripts %}
      <script src="{{ external_script }}" ></script>
    {% endfor %}
  </body>
</html>
